<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.with">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/with_launch"
        android:label="위드"
        android:roundIcon="@mipmap/with_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.With"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SeniorProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SeniorProfileReviseActivity"
            android:exported="false" />
        <activity
            android:name=".CashHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".HelperAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".SelectMatchNotice"
            android:exported="false" />
        <activity
            android:name=".SelectMatchListContents"
            android:exported="false" />
        <activity
            android:name=".selectMatch.SelectMatchList"
            android:exported="false" />
        <activity
            android:name=".selectMatch.SelectLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".register.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".SeniorCheck3Activity"
            android:exported="true" />
        <activity
            android:name=".SeniorCheck2Activity"
            android:exported="true" />
        <activity
            android:name=".SeniorCheck1Activity"
            android:exported="true" />
        <activity
            android:name=".HelperProfileReviseActivity"
            android:exported="true" />
        <activity
            android:name=".profile.HelperProfileActivity"
            android:exported="true" />
        <activity
            android:name=".HelperPrivacySettingActivity"
            android:exported="false" />
        <activity
            android:name=".confirm.ConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".simple.SimpleActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".simple.NoxActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".confirm.NoxConfirmActivity"
            android:exported="true" />
        <activity android:name=".Complete1Activity" />
        <activity android:name=".Complete2Activity" />
        <activity
            android:name=".SeniorHomeActivity"
            android:exported="true" >

        </activity>
        <activity android:name=".profile.SeniorProfileActivity" />
        <activity android:name=".SeniorAlarmActivity" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".TmpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".HelperHomeActivity"
            android:exported="true" >

        </activity>
        <activity android:name=".MatchingList" />
        <activity android:name=".MatchingListContents" />
        <activity
            android:name=".loading.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".login.HelperLoginActivity" />
        <activity android:name=".register.RegisterActivity"
            android:exported="true">

        </activity>
        <activity android:name=".register.HelperRegisterActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>